<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<!--
'aba-widget'

Slots

1. content -> Here goes the Content of your widget
1. optionsMenu -> You can use this slot to add new options to the three dot menu of your widget
1. settingsForm -> This slot is for the Setting sof your widget

@demo demo/index.html
 -->
<dom-module id="aba-widget">
	<template>
		<!-- handle that content fills the tile and overflow -->
		<div class="widget" id="widget_container">
			<slot name="content"></slot>
			<paper-menu-button horizontal-align="right" close-on-activate="true" id="widgetMenu" class="hidden">
				<paper-icon-button icon="more-vert" slot="dropdown-trigger" alt="menu"></paper-icon-button>
				<paper-listbox slot="dropdown-content">
					<paper-item on-tap="showSettings">[[localize('abaWidget.settings')]]</paper-item>
					<paper-item on-tap="showRemoveWidgetDialog">[[localize('abaWidget.remove')]]</paper-item>
					<paper-item on-tap="clone">[[localize('abaWidget.clone')]]</paper-item>
					<paper-item on-tap="copy">[[localize('abaWidget.copy')]]</paper-item>
					<slot name="optionsMenu"></slot>
				</paper-listbox>
			</paper-menu-button>
		</div>
		<!-- Settings -->
		<paper-dialog id="settingsDialog" on-opened-changed="_settingsOpened"
			no-cancel-on-outside-click modal>
			<h2>[[widgetLabel]] - [[localize('abaWidget.settings')]]</h2>
			<div style="margin-top: 0px;">[[widgetDescription]]</div>
			<paper-dialog-scrollable>
				<p id="settingDialogForm">
					<slot name="settingsForm"></slot>
				</p>
			</paper-dialog-scrollable>
			<div class="buttons">
				<paper-button class="buttonBorder" dialog-confirm on-tap="fireSettingsApply" autofocus>
					[[localize('abaWidget.apply')]]</paper-button>
				<paper-button class="buttonBorder" dialog-dismiss on-tap="fireSettingsClosed">[[localize('abaWidget.cancel')]]
				</paper-button>
			</div>
		</paper-dialog>

		<!-- remove widget -->
		<paper-dialog id="removeWidgetDialog">
			<h2>[[localize('abaWidget.areYouSure')]]</h2>
			<paper-icon-button dialog-confirm icon="close" class="closeBtn"></paper-icon-button>
			<div>
				[[localize('abaWidget.reallyRemove')]]
			</div>
			<div class="buttons">
				<paper-button class="buttonBorder" dialog-dismiss>[[localize('abaWidget.cancel')]]</paper-button>
				<paper-button class="buttonBorder" dialog-confirm autofocus on-tap="fireRemoveWidget">
					[[localize('abaWidget.remove')]]</paper-button>
			</div>
		</paper-dialog>
		<style include="abas-widget-style">
			.closeBtn {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0;
				margin: 0;
			}

			/* Menu */

			paper-menu-button {
				position: absolute;
				right: 20px;
				top: 2px;
				padding: 0;
				margin-top: -8px;
				margin-right: -16px;
			}

			/* Settings Dialog */

			paper-dialog {
				background: var(--light-theme-background-color);
				color: var(--light-theme-text-color);
			}

			.highlight {
				box-shadow: 0px 0px 3px 2px rgba(27, 187, 163, 1);
			}

			.widget {
				height: var(--widget-height, 100%);
				overflow: hidden;
			}

			#settingDialogForm {
				width: 85vw;
				height: 85vh;
				background: var(--light-theme-background-color);
				padding: 20px;
			}

			#settingsDialog {
				overflow: hidden;
				padding: 1rem;
			}

			#removeWidgetDialog {
				overflow: hidden;
				padding: 1rem;
			}

			.hidden {
				display: none;
			}

			.buttonBorder {
				border: 1px solid #1bbba3;
			}
		</style>
	</template>
</dom-module>
<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AbaWidget extends Polymer.AbasLocalizeMixin(Polymer.Element) {
		constructor() {
			super();
			this.fallbackLanguage = "en";
			this.widgetLabel = "";
			this.widgetDescription = "";

			this._boundOnFocus = this._onFocus.bind(this);
			this._boundOnBlur = this._onBlur.bind(this);
			this._boundBlockDrag = this._blockDrag.bind(this);

			this.loadResources(this.resolveUrl(this.importPath + "locales.json"));
		}

		static get is() { return "aba-widget"; }

		static get properties() {
			return {
				/**
				 * The ID of the Widget
				 */
				widgetId: {
					type: String
				},
				editMode: {
					type: Boolean,
					value: false,
					observer: "_editModeChanged"
				},
				fallbackLanguage: {
					type: String
				},
				widgetLabel: {
					type: String
				},
				widgetDescription: {
					type: String
				}
			};
		}

		get widgetMenu() {
			if (!this._widgetMenu) {
				this._widgetMenu = this.shadowRoot.querySelector("#widgetMenu");
			}
			return this._widgetMenu;
		}

		get slotContent() {
			if (!this._slotContent) this._slotContent = this.querySelector("[slot=content]");
			return this._slotContent;
		}

		connectedCallback() {
			super.connectedCallback();
			this.slotContent.addEventListener("blur", this._boundOnBlur);
			this.slotContent.addEventListener("focus", this._boundOnFocus);
		}

		disconnectedCallback() {
			this.slotContent.removeEventListener("blur", this._boundOnBlur);
			this.slotContent.removeEventListener("focus", this._boundOnFocus);
		}

		async _onFocus() {
			this.$.widget_container.classList.add("highlight");
		}

		async _onBlur() {
			this.$.widget_container.classList.remove("highlight");
		}

		_getWidgetList() {
			// TODO this may fail
			let widgetList = JSON.parse(localStorage.getItem("widgetLibrary"));
			if (widgetList) {
				return widgetList;
			} else {
				return [];
			}
		}

		_setLabelAndDescription() {
			let widgetList = this._getWidgetList();
			let widgetTitle = _.get(this.offsetParent, "localName", "");
			widgetList.forEach((widget) => {
				if (widget.name === widgetTitle) {
					if (widget.label) {
						let label = widget.label[this.language] || widget.label[this.fallbackLanguage] || "";
						this.set("widgetLabel", label);
					}
					if (widget.description) {
						let description = widget.description[this.language] || widget.description[this.fallbackLanguage] || "";
						this.set("widgetDescription", description);
					}
					return;
				}
			})
		}

		/* Trick to move the dialog to the body of the document, to prevent it from being trapped into the app-layout */
		async _settingsOpened(event) {
			if (_.get(event, "target.opened")) {
				Polymer.Gestures.addListener(this, "track", this._boundBlockDrag);
			} else {
				Polymer.Gestures.removeListener(this, "track", this._boundBlockDrag);
			}
			this.dispatchEvent(new CustomEvent("opened-changed", {
				detail: {
					value: event.detail.value,
					widgetID: this.widgetId
				}
			}));
		}

		/* LISTENERS */
		async showSettings(event) {
			event.stopPropagation();
			event.preventDefault();
			this.shadowRoot.querySelector("#settingsDialog").open();
			this.shadowRoot.querySelector("#widgetMenu").close();
			//set label and description at first when opening settings dialog, because of timing problems
			this._setLabelAndDescription();
			// fire event
			this.fireSettingsOpened();
			return false;
		}

		async showRemoveWidgetDialog(event) {
			event.stopPropagation();
			event.preventDefault();
			this.shadowRoot.querySelector("#removeWidgetDialog").open();
			this.shadowRoot.querySelector("#widgetMenu").close();
			return false;
		}

		/* EVENTS */
		/**
		 * This will trigger an remove event
		 * @event "remove-widget"
		 * @param {String} id The ID of the widget to remove
		 */
		async fireRemoveWidget() {
			if (typeof this.widgetId === "undefined" || this.widgetId.trim() === "") {
				alert("widget id not given. remove cancelled. Oh my god.")
				return;
			}
			let removeEvent = new CustomEvent("remove-widget", {
				detail: {
					id: this.widgetId
				}
			});
			window.dispatchEvent(removeEvent);
		}
		/**
		 * This will fire a clone-widget event
		 * @event clone-widget
		 * @param {String} id The id of the widget to clone
		 */
		async clone() {
			this.dispatchEvent(new CustomEvent("clone-widget", {
				composed: true,
				detail: {
					id: this.widgetId
				}
			}));
		}

		/**
		 * This will fire a clone-widget event
		 * @event clone-widget
		 * @param {String} id The id of the widget to clone
		 */
		async copy() {
			this.dispatchEvent(new CustomEvent("copy-widget", {
				composed: true,
				detail: {
					id: this.widgetId
				}
			}));
		}

		/**
		 * This stops the event by force
		 * @param {Event} event
		 */
		async _blockDrag(event) {
			event.stopPropagation();
		}

		/*
		 * OBSERVERS
		 */
		async _editModeChanged(newVal, oldVal) {
			if (newVal === true && oldVal === false) {
				this.widgetMenu.classList.remove("hidden");
				this.slotContent.setAttribute("tabindex", "0"); // div only recieves "focus" and "blur" events if contenteditable or tabindex is set
			} else {
				this.widgetMenu.classList.add("hidden");
				this.slotContent.removeAttribute("tabindex");
			}
		}
		/**
		 * This will trigger a settings-opened event
		 * @event "settings-opened"
		 */
		async fireSettingsOpened() {
			this.dispatchEvent(new CustomEvent("settings-opened", {
				composed: true,
				bubbles: true,
				detail: {
					widgetID: this.widgetId
				}
			}));
		}
		/**
		 * This will trigger a settings-closed event
		 * @event "settings-closed"
		 */
		async fireSettingsClosed() {
			this.dispatchEvent(new CustomEvent("settings-closed", {
				composed: true,
				bubbles: true,
				detail: {
					widgetID: this.widgetId
				}
			}));
		}
		/**
		 * This will trigger a settings-apply event
		 * @event "settings-closed"
		 */
		async fireSettingsApply() {
			this.dispatchEvent(new CustomEvent("settings-apply", {
				composed: true,
				bubbles: true,
				detail: {
					widgetID: this.widgetId
				}
			}));
		}
	}

	customElements.define(AbaWidget.is, AbaWidget);
</script>