<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../abas-localize-mixin/abas-localize-mixin.html">
<!--
'aba-widget'

Template Methods that can be overridden

1. content -> Here goes the Content of your widget
1. optionsMenu -> You can use this slot to add new options to the three dot menu of your widget
1. settingsForm -> This slot is for the Setting sof your widget

@demo demo/index.html
 -->
<script>
	/**
	 * @customElement
	 * @polymer
	 */
	class AbaWidgetInline extends Polymer.AbasLocalizeMixin(Polymer.Element) {
		static get style() {
			return /* css */`
			.closeBtn {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0;
				margin: 0;
			}

			/* Menu */

			paper-menu-button {
				position: absolute;
				right: 20px;
				top: 2px;
				padding: 0;
				margin-top: -8px;
				margin-right: -16px;
			}

			/* Settings Dialog */

			paper-dialog {
				background: var(--light-theme-background-color);
				color: var(--light-theme-text-color);
			}

			.widget {
				height: var(--widget-height, 100%);
				overflow: hidden;
			}

			#settingDialogForm {
				width: 71vw;
				height: 50vh;
				background: var(--light-theme-background-color);
				padding: 20px;
			}

			#settingsDialog {
				overflow: hidden;
				padding: 1rem;
			}

			#removeWidgetDialog {
				overflow: hidden;
				padding: 1rem;
			}

			.hidden {
				display: none;
			}`;
		}

		static get settingsForm() {
			return ``;
		}

		static get settingsDialog() {
			return /* html */`
			<paper-dialog id="settingsDialog" on-track="_blockDrag" on-opened-changed="_settingsOpened" no-cancel-on-outside-click>
				<h2>[[localize('settings')]]</h2>
				<paper-icon-button dialog-confirm icon="close" class="closeBtn" on-tap="fireSettingsClosed"></paper-icon-button>
				<paper-dialog-scrollable>
					<p id="settingDialogForm">
						${this.settingsForm}
					</p>
				</paper-dialog-scrollable>
				<div class="buttons">
					<paper-button dialog-confirm autofocus on-tap="fireSettingsClosed">[[localize('close')]]</paper-button>
				</div>
			</paper-dialog>`;
		}

		static get removeDialog() {
			return /* html */`
			<paper-dialog id="removeWidgetDialog" on-track="_blockDrag">
				<h2>[[localize('areYouSure')]]</h2>
				<paper-icon-button dialog-confirm icon="close" class="closeBtn"></paper-icon-button>
				<div>
					[[localize('reallyRemove')]]
				</div>
				<div class="buttons">
					<paper-button dialog-dismiss>[[localize('cancel')]]</paper-button>
					<paper-button dialog-confirm autofocus on-tap="fireRemoveWidget">[[localize('delete')]]</paper-button>
				</div>
			</paper-dialog>`;
		}

		static get content() {
			return "";
		}

		static get optionsMenu() {
			return "";
		}

		static get template() {
			return /* html */`
			<style include="abas-widget-style">${ this.style}</style>
			<div class="widget">
				<div class="content">${ this.content}</div>
				<paper-menu-button horizontal-align="right" close-on-activate="true" id="widgetMenu" class="hidden">
					<paper-icon-button icon="more-vert" slot="dropdown-trigger" alt="menu"></paper-icon-button>
					<paper-listbox slot="dropdown-content">
						<paper-item on-tap="showSettings">[[ localize('settings') ]]</paper-item>
						<paper-item on-tap="showRemoveWidgetDialog">[[ localize('remove') ]]</paper-item>
						<paper-item on-tap="clone">[[ localize('clone') ]]</paper-item>
						${ this.optionsMenu}
					</paper-listbox>
				</paper-menu-button>
			</div>
			${ this.settingsDialog}
			${ this.removeDialog}`;
		}

		constructor() {
			super();
		}

		static get is() { return "aba-widget-inline"; }

		static get properties() {
			return {
				/**
				 * The ID of the Widget
				 */
				widgetId: {
					type: String
				},
				editMode: {
					type: Boolean,
					value: false,
					observer: "_editModeChanged"
				},
				fallbackLanguage: {
					value: "en"
				}
			};
		}

		get widgetMenu() {
			if (!this._widgetMenu) {
				this._widgetMenu = this.shadowRoot.querySelector("#widgetMenu");
			}
			return this._widgetMenu;
		}

		connectedCallback() {
			super.connectedCallback();
			this.addEventListener("tap", this._blockDrag);
			this._settings = this.$.settingsDialog;
			this.loadResources(this.resolveUrl(this.importPath + "locales.json"));
		}

		/**
		 * Trick to move the dialog to the body of the document, to prevent it from being trapped into the app-layout
		 * @param {Event} event
		 */
		_settingsOpened(event) {
			this.dispatchEvent(new CustomEvent("opened-changed", {
				detail: {
					value: event.detail.value
				}
			}));
		}

		/*
		 * LISTENERS
		 */
		showSettings(event) {
			event.stopPropagation();
			event.preventDefault();
			this.shadowRoot.querySelector("#settingsDialog").open();
			this.shadowRoot.querySelector("#widgetMenu").close();
			return false;
		}
		showRemoveWidgetDialog(event) {
			event.stopPropagation();
			event.preventDefault();
			this.shadowRoot.querySelector("#removeWidgetDialog").open();
			this.shadowRoot.querySelector("#widgetMenu").close();
			return false;
		}
		/**
		 * This stops the event by force
		 * @param {Event} event
		 */
		_blockDrag(event) {
			event.preventDefault();
			event.stopPropagation();
		}
		/**
		* EVENTS
		*/
		/**
		* This will trigger an remove event
		* @event 'remove-widget'
		* @param {String} id The ID of the widget to remove
		*/
		fireRemoveWidget() {
			if (typeof this.widgetId === "undefined" || this.widgetId.trim() === "") {
				alert("widget id not given. remove cancelled. Oh my god.")
				return;
			}
			let removeEvent = new CustomEvent("remove-widget", {
				detail: {
					id: this.widgetId
				}
			});
			window.dispatchEvent(removeEvent);
		}
		/**
		* This will fire a clone-widget event
		* @event clone-widget
		* @param {String} id The id of the widget to clone
		*/
		clone() {
			this.dispatchEvent(new CustomEvent("clone-widget", {
				composed: true,
				detail: {
					id: this.widgetId
				}
			}));
		}
		/*
		 * OBSERVERS
		 */
		_editModeChanged(newVal, oldVal) {
			if (newVal === true && oldVal === false) {
				this.widgetMenu.classList.remove("hidden");
			} else {
				this.widgetMenu.classList.add("hidden");
			}
		}
		/**
		 * This will trigger a settings-closed event
		 * @event 'settings-closed'
		 */
		fireSettingsClosed() {
			this.dispatchEvent(new CustomEvent("settings-closed", {
				composed: true
			}));
		}
	}

	customElements.define(AbaWidgetInline.is, AbaWidgetInline);
</script>